* {
    padding: 0px;
    margin: 0px;
}

/* Navbar Starts */
.header {
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(#17679691, rgba(0, 0, 0, 0.479)), url(./images/main-background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: bottom center;
}

.nav {
    display: flex;
    padding: 0px 80px;
    height: 90px;
    justify-content: space-between;
    background-color: #14639000;
    flex-wrap: wrap;
    align-items: center center;
    color: white;
    z-index: 999;
}

.logo1 {
    width: 140px;
    cursor: pointer;
}

.logo2 {
    display: none;
}

.menu {
    display: flex;

}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu ul li {
    margin-left: 18px;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: #f2f5f8;
    font-size: 14px;
    font-weight: 700;
    font-family: "lato", sans-serif;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 2px;
}


.fa-user {
    font-size: 22px;
    color: white;
    cursor: pointer;
    margin-top: -10px;
}

/* mobile menu */
.offscreenmenu ul li {
    display: none;
}

.mbllogo {
    display: none;
}

/* mobile menu */

/*Header-Contnet*/
.header-content {
    display: flex;
    justify-content: center;
}

.header-content h1 {
    font-size: 66px;
    color: white;
    font-family: "lato", sans-serif;
    margin-top: 100px;
}

/* Main Body Section Start */

.after-hero-content {
    background-color: #f5f7f9;
}

/* Help Boxes */
.wehelp {
    font-size: 42px;
    color: black;
    font-family: "lato", sans-serif;
}

.info-boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0px;
}

.box {
    width: 292px;
    height: 191px;
    background-color: white;
    border-radius: 10px;
    padding: 30px 10px 30px 10px;
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.box h2 {
    font-size: 26px;
    color: black;
    font-family: "lato", sans-serif;
    line-height: 45px;
    font-weight: 600;
}

.box p {
    font-size: 18px;
    line-height: 30px;
    color: black;
    text-align: center;
}

.number {
    color: skyblue;
}

/* Conatct Us Fomr section starts */
.form-section {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 65px;
    margin-bottom: 65px;
    gap: 15px;
    flex-wrap: wrap;
}

.form-text {}

.form-text-subheadeing {
    font-size: 15px;
    color: black;
    font-family: "lato", sans-serif;
    font-weight: 600;
}

.form-text h2 {
    font-size: 42px;
    color: black;
    font-family: "lato", sans-serif;
    margin: 20px 0px;
    font-weight: 700;
}

.form-sec-des {
    font-size: 16px;
    font-family: "lato", sans-serif;
    line-height: 26px;
}

.form-div {
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 10px;
    width: 550px;
    height: px;
}

input {
    padding: 12px 12px 12px 12px;
    font-size: 16px;
    background-color: white;
    border: 1px solid #cccc;
    outline: none;
    margin: 10px 0px;
}

#textarea {
    padding: 12px 12px 12px 12px;
    font-size: 16px;
    border: 1px solid #cccc;
    outline: none;
}

textarea {
    font-size: 16px;
    font-family: "lato", sans-serif;
}

input[type="submit"] {
    background-color: #0084d6;
    width: 170px;
    font-size: 16px;
    padding: 16px 28px 16px 28px;
    color: white;
    font-family: "lato", sans-serif;
    border: none;
    cursor: pointer;
}

/*Footer Starts Form here*/
.line {
    border-top: 1px solid rgba(0, 0, 0, 0.068);
    width: 100%;
}

.footer {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 70px;
    flex-wrap: wrap;

}

.footer-hd {
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
}

.footer-logo {
    height: 30px;
}

.footer-logo img {
    width: 100px;
}

.footer-logo h4 {
    margin-top: 40px;
    color: black;
    font-size: 22px;
    font-weight: 600;
}

.forfemale ul li {
    list-style: none;
    margin-top: 10px;
    font-size: 16px;
    color: rgb(139, 139, 139);
}

.formale ul li {
    list-style: none;
    margin-top: 10px;
    font-size: 16px;
    color: rgb(139, 139, 139);
}



.email-us {
    display: flex;
    flex-direction: column;
}

.email-us input {
    padding: 12px 12px 12px 12px;
    font-size: 16px;
    line-height: 16px;
    outline: none;
}

.email-us button {
    padding: 16px 28px 16px 28px;
    font-size: 18px;
    border: none;
    color: white;
    background-color: #0075BE;
    line-height: 14px;
    width: 140px;
    margin-top: 20px;
}

.email-us button:hover {
    background-color: #03598f;
    cursor: pointer;
}

/*Footer Ends Here*/
.bottom-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px 20px;
    margin: auto;
    padding: 20px 150px;
    border-top: 1px solid rgba(0, 0, 0, 0.068);
}

.bottom-footer .footer-left {
    flex: 1;
}

.bottom-footer .footer-right {
    display: flex;
    gap: 30px;
}

.bottom-footer .footer-right a {
    color: black;
    text-decoration: none;
    margin-left: 10px;
}

.bottom-footer .footer-right a:hover {
    color: black;
}

/*Footer Ends here*/
#upside-div {
    position: fixed;
    bottom: 20px;
    /* Adjust as needed */
    right: 20px;
    /* Adjust as needed */
    z-index: 9999;
    /* Ensure it's above other content */
}

#upside {
    padding: 10px;
    background-color: #0075BE;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fa-chevron-up {
    font-size: 20px;
    color: white;
}