/* 
Mobile devices – 320px — 480px.
iPads, Tablets – 481px — 768px.
Small screens, laptops – 769px — 1024px.
Desktops, large screens – 1025px — 1200px.
Extra large screens, TV – 1201px, and more.
*/

/*Humburger Button*/
/*This is for media query*/
.humburger {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
}

.bar {
    background-color: white;
    height: 5px;
    width: 100%;
    margin-top: 5px;
    border-radius: 8px;
}

@media (max-width: 480px) {
    .header.main-header {
        background-image: linear-gradient(#176796b0, rgba(0, 0, 0, 0.39)), url(./images/home1.jpg);
        height: 50%;
        width: 100vw;
    }

    .nav.container-fluid.main-navbar {
        display: none;
    }

    /*Here is another navbar for Mbl*/
    .mobile-menu {
        background-color: black;
        height: 100vh;
        width: 100%;
        max-width: 450px;
        position: fixed;
        top: 10px;
        right: -450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        transition: 0.5s ease-in;
    }

    .mobile-menu ul li {
        color: white;
        list-style: none;
    }

    .mobile-menu.active {
        right: 0;
    }

    .mbl-navbar {
        padding: 1rem;
        display: flex;
        background-color: black;
    }

    .hum-menu {
        height: 50px;
        width: 50px;
        margin-left: auto;
        position: relative;
        cursor: pointer;
    }

    .hum-menu span {
        height: 5px;
        width: 100%;
        background-color: white;
        border-radius: 25px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s ease-in;
    }

    .hum-menu span:nth-child(1) {
        top: 25%;
    }

    .hum-menu span:nth-child(3) {
        top: 75%;
    }

    .hum-menu.active span:nth-child(1) {
        transform: translate(-50%, -50%)rotate(45deg);
    }

    .hum-menu.active span:nth-child(1) {
        opacity: 0;
    }

    .hum-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%)rotate(90deg);
    }

    /*here the Mobile navbar ends*/
    .header .header-content {
        top: 20%;
        left: 0px;
    }

    .header-txt .header-txt1 {
        color: white;
        font-size: 28px;
        text-align: center;
    }

    .header-txt .header-txt2 {
        color: rgb(0, 0, 0);
        font-size: 22px;
        text-align: center;
    }

    .header-btn-div {
        width: 100%;
    }

    .header-btn-div .header-btn {
        width: 80%;
        margin: auto;
        margin-left: 45px;
        margin-top: 10px;
    }
}



/*Next part*/

/* @media screen and (min-width: 481px) and (max-width: 768px)  */