/* 
Mobile devices – 320px — 480px.
iPads, Tablets – 481px — 768px.
Small screens, laptops – 769px — 1024px.
Desktops, large screens – 1025px — 1200px.
Extra large screens, TV – 1201px, and more.
*/

/*Humburger Button*/
/*This is for media query*/
.humburger {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
}

.bar {
    background-color: white;
    height: 5px;
    width: 100%;
    margin-top: 5px;
    border-radius: 8px;
}

@media (max-width: 480px) {
    .header.main-header {
        background-image: linear-gradient(#176796b0, rgba(0, 0, 0, 0.39)), url(./images/home1.jpg);

    }


    .nav.container-fluid {
        display: none;
    }

    /*  */
    .offscreenmenu ul li {
        color: white;
        list-style: none;
    }

    .offscreenmenu {
        background-color: black;
        height: 100vh;
        width: 100%;
        max-width: 450px;
        position: fixed;
        top: 0;
        right: -450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        transition: 0.5s ease-in;
        z-index: 99;
    }

    .offscreenmenu ul li a {
        text-decoration: none;
        color: #f2f5f8;
        font-size: 22px;
        font-weight: 700;
        font-family: "lato", sans-serif;
        text-transform: uppercase;
        text-align: left;
        letter-spacing: 2px;
    }

    .offscreenmenu.active {
        right: 0;
    }

    nav {
        padding: 1rem;
        display: flex;
        background-color: white;
        justify-content: space-between;
        align-items: center;
    }



    nav img {
        width: 100px;
    }

    .hum {
        height: 50px;
        width: 50px;
        margin-left: auto;
        position: relative;
        cursor: pointer;
        z-index: 999;
    }

    .hum span {
        height: 5px;
        width: 100%;
        background-color: black;
        border-radius: 25px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s ease-in;
    }

    .hum span:nth-child(1) {
        top: 25%;
    }

    .hum span:nth-child(3) {
        top: 75%;
    }

    .hum.active span:nth-child(1) {
        transform: translate(-50%, -50%) rotate(0deg);
        top: 50%;
        background-color: white;

    }

    .hum.active span:nth-child(2) {
        opacity: 0;
    }

    .hum.active span:nth-child(3) {
        background-color: white;
        top: 50%;
        transform: translate(-50%, -50%)rotate(90deg);
    }

    /*  */
    .header .header-content {
        top: 20%;
        left: 0px;
    }

    .header-txt .header-txt1 {
        color: white;
        font-size: 28px;
        text-align: center;
    }

    .header-txt .header-txt2 {
        color: rgb(0, 0, 0);
        font-size: 22px;
        text-align: center;
    }

    .header-btn-div {
        width: 100%;
    }

    .header-btn-div .header-btn {
        width: 80%;
        margin: auto;
        margin-left: 45px;
        margin-top: 10px;
    }

    /* latest Products Section */
    .latest-collection {
        font-size: 18px;
        margin: 0px;
    }

    .latest-products-main-section {
        display: flex;
        flex-wrap: wrap;
        width: 1180px;
        margin: auto;
        gap: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .container.latest-product {
        background-position: center left;

    }
}




/*Next part*/

/* @media screen and (min-width: 481px) and (max-width: 768px)  */