@media (max-width: 650px) {
    .best-seller-section {
        display: none;
    }

    .left-filter-section {
        display: none;
        width: 0%;
    }

    .products-section {
        width: 100%;
        flex-wrap: wrap;
    }

    .main {
        padding: 0px;
    }

    #input {
        width: 75%;
        margin: 30px 0px;
    }

    #search-btn {
        margin: 30px 0px;
    }


    /* This is for Humburger */
    .nav.container-fluid {
        display: none;
    }

    /*  */
    .offscreenmenu ul li {
        color: white;
        list-style: none;
    }

    .offscreenmenu {
        background-color: black;
        height: 100vh;
        width: 100%;
        max-width: 450px;
        position: fixed;
        top: 0;
        right: -450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        transition: 0.5s ease-in;
        z-index: 99;
    }

    .offscreenmenu ul li a {
        text-decoration: none;
        color: #f2f5f8;
        font-size: 22px;
        font-weight: 700;
        font-family: "lato", sans-serif;
        text-transform: uppercase;
        text-align: left;
        letter-spacing: 2px;
    }

    .offscreenmenu.active {
        right: 0;
    }

    .offscreenmenu.container ul li {
        display: block;
    }

    .mbl-logo-img img {
        display: block;
    }

    nav {
        padding: 1rem;
        display: flex;
        background-color: white;
        justify-content: space-between;
        align-items: center;
    }

    nav img {
        width: 100px;
    }

    .hum {
        height: 50px;
        width: 50px;
        margin-left: auto;
        position: relative;
        cursor: pointer;
        z-index: 999;
    }

    .hum span {
        height: 5px;
        width: 100%;
        background-color: black;
        border-radius: 25px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s ease-in;
    }

    .hum span:nth-child(1) {
        top: 25%;
    }

    .hum span:nth-child(3) {
        top: 75%;
    }

    .hum.active span:nth-child(1) {
        transform: translate(-50%, -50%) rotate(0deg);
        top: 50%;
        background-color: white;

    }

    .hum.active span:nth-child(2) {
        opacity: 0;
    }

    .hum.active span:nth-child(3) {
        background-color: white;
        top: 50%;
        transform: translate(-50%, -50%)rotate(90deg);
    }

    /* Footer section */
    /* Footer starts */
    .saleline {
        font-size: 14px;
        margin: 0px;
    }

    .saleline {
        font-size: 14px;
        margin: 0px;
    }

    .footer {
        flex-direction: column;
    }

    .footer-logo {
        margin-bottom: 60px;
    }

    .footer-logo h4 {
        font-size: 14px;
    }

    .email-us input {
        width: 200px;
    }

    .bottom-footer {
        width: 100%;
        padding: 0px;

    }

    .footer-left {}

    /* Footer Ends */
}