* {
    padding: 0px;
    margin: 0px;
}

/* for mobile search input */
.formobileinput {
    display: none;
}

.formobilesearch {
    display: none;
}

/* for mobile search input */
/*Navbar Starts*/
.nav {
    display: flex;
    padding: 0px 80px;
    height: 90px;
    justify-content: space-between;
    background-color: #ffff;
    flex-wrap: wrap;
    align-items: center center;
    color: white;
}

.logo1 {
    width: 140px;
    cursor: pointer;
}

.logo2 {
    display: none;
}

.menu {
    display: flex;

}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu ul li {
    margin-left: 18px;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: #146390da;
    font-size: 14px;
    font-weight: 700;
    font-family: "lato", sans-serif;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 2px;
}


.fa-user {
    font-size: 22px;
    color: #146390da;
    cursor: pointer;
    margin-top: -10px;
}

/* mobile menu */
.offscreenmenu ul li {
    display: none;
}

.mbllogo {
    display: none;
}

/*NavBar Ends*/
.main {
    display: flex;
    background-color: #f5f7f9;
    padding: 100px;
}

/*Left-Section*/
.left-filter-section {
    width: 30%;
    padding: 0px 10px;
}

#input {
    padding: 6px 8px 6px 8px;
    outline: none;
    height: 30px;
    width: 200px;
    border: 1px solid #cccc;

}

#input::placeholder {
    font-size: 16px;
    font-family: "lato", sans-serif;
}

#search-btn {
    padding: 6px 8px 6px 8px;
    font-size: 16px;
    border: none;
    background-color: #0084d6;
    color: white;
    height: 45px;
    width: 36px;
    outline: none;
    cursor: pointer;
}

.category {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #cccc;
}

.category h2 {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: "lato", sans-serif;
}

.cat1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    font-family: "lato", sans-serif;
    margin: 15px 0px;
}

.cat1 h3 {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    font-family: "lato", sans-serif;
}

.cat1 h3:hover {
    color: #0084d6;
}

/*Categories Ends*/
.best-seller-section {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.best-seller-section h2 {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.seller {
    display: flex;
    gap: 10px;
    margin: 15px 0px;
    width: 270px;
    border-bottom: 1px solid #cccc;
    padding-bottom: 10px;
}

.best-seller-des {
    display: flex;
    flex-direction: column;
}

.best-seller-des h3 {
    font-size: 16px;
    font-weight: 500;
    font-family: "lato", sans-serif;
}

.best--seller-product-img {
    width: 85px;
}

.best--seller-product-img img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.best-seller-rating {
    gap: 0px;
}

/*Left-Section Ends*/

/*Products Section*/
.products-section {
    width: 100%;
    background-color: white;
    padding: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/**/
.product {
    width: 248px;
    box-sizing: border-box;
}

.product-img {
    width: 248px;
    height: 248px;
    position: relative;
}

.product-img img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* Category filter */
.hide {
    display: none;
}

.allproductsblock {
    display: block;
}


.badge {
    position: absolute;
    left: 10px;
    top: 20px;
    font-size: 13px;
    color: black;
    font-family: "lato", sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 6px 11px 6px 11px;
    border-radius: 50px;
}

.pro-des {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 140px;
    padding: 10px 0px;
    line-height: 18px;
}

#product-title {
    font-size: 16px;
    color: black;
    font-family: "lato", sans-serif;
    font-weight: 700;
    line-height: 20px;
}

.product-category {
    color: rgba(49, 47, 47, 0.534);
    margin: 8px 0px;
}

.price {
    margin: 8px 0px;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 80px;
    margin-left: -5px;
}

.fa-star {
    font-size: 13px;
    margin: 8px 0px;
}

/*Footer Starts Form here*/
.line {
    border-top: 1px solid rgba(0, 0, 0, 0.068);
    width: 100%;
}

.footer {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 70px;
    flex-wrap: wrap;

}

.footer-hd {
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
}

.footer-logo {
    height: 30px;
}

.footer-logo img {
    width: 100px;
}

.footer-logo h4 {
    margin-top: 40px;
    color: black;
    font-size: 22px;
    font-weight: 600;
}

.forfemale ul li {
    list-style: none;
    margin-top: 10px;
    font-size: 16px;
    color: rgb(139, 139, 139);
}

.formale ul li {
    list-style: none;
    margin-top: 10px;
    font-size: 16px;
    color: rgb(139, 139, 139);
}



.email-us {
    display: flex;
    flex-direction: column;
}

.email-us input {
    padding: 12px 12px 12px 12px;
    font-size: 16px;
    line-height: 16px;
    outline: none;
}

.email-us button {
    padding: 16px 28px 16px 28px;
    font-size: 18px;
    border: none;
    color: white;
    background-color: #0075BE;
    line-height: 14px;
    width: 140px;
    margin-top: 20px;
}

.email-us button:hover {
    background-color: #03598f;
    cursor: pointer;
}

/*Footer Ends Here*/
.saleline {
    width: 80%;
    font-size: 22px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.bottom-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px 20px;
    margin: auto;
    padding: 20px 150px;
    border-top: 1px solid rgba(0, 0, 0, 0.068);
}

.bottom-footer .footer-left {
    flex: 1;
}

.bottom-footer .footer-right {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.bottom-footer .footer-right a {
    color: black;
    text-decoration: none;
    margin-left: 10px;
}

.bottom-footer .footer-right a:hover {
    color: black;
}

/*Footer Ends here*/
#upside-div {
    position: fixed;
    bottom: 20px;
    /* Adjust as needed */
    right: 20px;
    /* Adjust as needed */
    z-index: 9999;
    /* Ensure it's above other content */
}

#upside {
    padding: 10px;
    background-color: #0075BE;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fa-chevron-up {
    font-size: 20px;
    color: white;
}