* {
    margin: 0px;
    padding: 0px;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#17679691, rgba(0, 0, 0, 0.479)), url(./images/home1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.nav {
    display: flex;
    padding: 0px 80px;
    height: 90px;
    width: 100%;
    justify-content: space-between;
    background-color: #146390a6;
    flex-wrap: wrap;
    align-items: center center;
    color: white;
}

.logo1 {
    width: 140px;
    cursor: pointer;
}

.logo2 {
    display: none;
}

.menu {
    display: flex;

}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu ul li {
    margin-left: 18px;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: #f2f5f8;
    font-size: 14px;
    font-weight: 700;
    font-family: "lato", sans-serif;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 2px;
}


.fa-user {
    font-size: 22px;
    color: white;
    cursor: pointer;
    margin-top: -10px;
}

/* mobile menu */
.offscreenmenu ul li {
    display: none;
}

.mbllogo {
    display: none;
}

/* mobile menu */

/*Header-Contnet*/
.header-content {
    position: absolute;
    top: 32%;
    left: 15%;
    color: white;
    text-align: left;
    font-family: "Lato", sans-serif;
}

.header-txt .header-txt1 {
    color: white;
    font-family: "lato", sans-serif;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 15px;
}

.header-txt .header-txt2 {
    color: white;
    font-family: "lato", sans-serif;
    font-size: 28px;
    font-weight: 500;
    margin: 25px 0px;
}

.header-btn {
    padding: 16px 25px 16px 25px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid white;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 0px;
    width: 135px;
    margin-top: 10px;
}

.header-btn1 {
    background-color: white;
    border: none;
}

.header-btn1:hover {
    background-color: black;
    color: white;
    border: none;
}

.header-btn2 {
    background-color: transparent;
    color: white;
    margin-left: 12px;
    /* margin-left: 15px; */
}

.header-btn2:hover {
    background-color: white;
    color: black;
}

/* Header Section Ends Here */
/* Partners Logos */
.slider-container {
    position: relative;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
}

.slide {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: black;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}


/*  Main products Section starts from here */
/* latest Products */
.latest-products-main-section {
    display: flex;
    flex-wrap: nowrap;
    width: 1180px;
    margin: auto;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.latest-product1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(./images/latest01.jpg);
    height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    display: flex;
    padding: 30px;
}

.latest-product2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(./images/latest02.jpg);
    height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    display: flex;
    padding: 30px;
}

.latest-product3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(./images/latest03.jpg);
    height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 30px;
    margin-bottom: 20px;
}

.latest-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    color: white;
}

.latest-content h2 {
    font-size: 26px;
}

.shop-btn {
    padding: 16px 28px 16px 28px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid white;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 0px;
    width: 140px;
    margin-top: 10px;
}

.shop-btn:hover {
    background-color: black;
    color: white;
    border: none;
}


/*Products Container Starts Here*/
.father-container-of-products {
    background-color: #f5f7f9;
    padding: 80px 0px;
    margin-top: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.068);
}

.products-container-title {
    font-size: 42px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divider-one {
    border: 0px;
    width: 150px;
    height: 2px;
    background-color: #0084D6;
    margin: 20px 0px;
}

.main-products-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product {
    width: 248px;
    box-sizing: border-box;
}

.product-img {
    width: 248px;
    height: 248px;
    position: relative;
}

.product-img img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.badge {
    position: absolute;
    left: 10px;
    top: 20px;
    font-size: 13px;
    color: black;
    font-family: "lato", sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 6px 11px 6px 11px;
    border-radius: 50px;
}

.pro-des {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 140px;
    padding: 10px 0px;
    line-height: 18px;
}

.product-title {
    font-size: 16px;
    color: black;
    font-family: "lato", sans-serif;
    font-weight: 700;
}

.product-gender {
    color: rgba(49, 47, 47, 0.534);
}

.price {}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 80px;
    margin-left: -5px;
}

.fa-star {
    font-size: 13px;
}

/*Products Container Starts Ends*/
/* Main fixed Section */
.main-fixed-section {
    background-image: linear-gradient(to left, transparent, transparent 10%, #2e7db2 90%, #2e7db2), url(./images/fixed-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 500px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0px 100px;
    background-attachment: fixed;
    width: 90%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
}

.main-fixed-section-content h3 {
    color: white;
    font-family: "lato", sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.main-fixed-section-content h2 {
    font-size: 42px;
    color: white;
    font-family: "lato", sans-serif;
    font-weight: 700;
    margin: 15px 0px;
}

.main-fixed-section-content>p {
    color: white;
    margin: 20px 0px;
}

/*Main Fixed Section Ends Here*/
/*After Main Fix Section*/
.after-fix-section {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

.box {
    width: 260;
    height: 162;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-img {
    width: 52px;
    height: 52px;
    margin: 15px 0px;
}

.box-img img {
    width: 100%;
    height: 100%;
}

.box-des h2 {
    font-size: 18px;
    color: black;
    text-align: center;
}

.box-des p {
    text-align: center;
}

/*Footer Section*/
.line {
    border-top: 1px solid rgba(0, 0, 0, 0.068);
    width: 100%;
}

.footer {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 70px;
    flex-wrap: wrap;

}

.footer-hd {
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
}

.footer-logo {
    height: 30px;
}

.footer-logo img {
    width: 100px;
}

.footer-logo h4 {
    margin-top: 40px;
    color: black;
    font-size: 22px;
    font-weight: 600;
}

.forfemale ul li {
    list-style: none;
    margin-top: 10px;
    margin-left: -30px;
    font-size: 16px;
    color: rgb(139, 139, 139);
}

.formale ul li {
    list-style: none;
    margin-top: 10px;
    margin-left: -30px;
    font-size: 16px;
    color: rgb(139, 139, 139);
}



.email-us {
    display: flex;
    flex-direction: column;
}

.email-us input {
    padding: 12px 12px 12px 12px;
    font-size: 16px;
    line-height: 16px;
    outline: none;
}

.email-us button {
    padding: 16px 28px 16px 28px;
    font-size: 18px;
    border: none;
    color: white;
    background-color: #0075BE;
    line-height: 14px;
    width: 140px;
    margin-top: 20px;
}

.email-us button:hover {
    background-color: #03598f;
}

/*Footer Ends Here*/
.bottom-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px 20px;
    margin: auto;
    padding: 20px 150px;
    border-top: 1px solid rgba(0, 0, 0, 0.068);
}

.bottom-footer .footer-left {
    flex: 1;
}

.bottom-footer .footer-right {
    display: flex;
    gap: 30px;
}

.bottom-footer .footer-right a {
    color: black;
    text-decoration: none;
    margin-left: 10px;
}

.bottom-footer .footer-right a:hover {
    color: black;
}