* {
    margin: 0px;
    padding: 0px;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#17679691, rgba(0, 0, 0, 0.479)), url(./images/home1.jpg);
    background-size: cover;
    background-position: center;
}

.nav.container-fluid {
    display: flex;
    padding: 0px 80px;
    height: 90px;
    width: 100%;
    justify-content: space-between;
    background-color: #146390a6;
    flex-wrap: wrap;
    align-items: center;
}

.logo1 {
    width: 140px;
    cursor: pointer;
}

.logo2 {
    display: none;
}

.menu {
    display: flex;
    align-items: center;
}

#menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu ul li {
    margin-left: 18px;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: #f2f5f8;
    font-size: 14px;
    font-weight: 700;
    font-family: "lato", sans-serif;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 2px;
}


.fa-user {
    font-size: 22px;
    color: white;
    cursor: pointer;
}

/*Mobile Menu*/

.offscreenmenu{
    display: none;
}
.navbar{
    display: none;
}

/*Mobile Menu*/

/*Header-Contnet*/
.header-content {
    position: absolute;
    top: 32%;
    left: 15%;
    color: white;
    text-align: left;
    font-family: "Lato", sans-serif;
}

.header-txt .header-txt1 {
    color: white;
    font-family: "lato", sans-serif;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 15px;
}

.header-txt .header-txt2 {
    color: white;
    font-family: "lato", sans-serif;
    font-size: 28px;
    font-weight: 500;
    margin: 25px 0px;
}

.header-btn {
    padding: 16px 25px 16px 25px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid white;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 0px;
    width: 135px;
    margin-top: 10px;
}

.header-btn1 {
    background-color: white;
    border: none;
}

.header-btn1:hover {
    background-color: black;
    color: white;
    border: none;
}

.header-btn2 {
    background-color: transparent;
    color: white;
    margin-left: 12px;
    /* margin-left: 15px; */
}

.header-btn2:hover {
    background-color: white;
    color: black;
}